body{
    background-color: black;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-image img{
    width: 250px;
    margin-top: 15vh;
}

.menu-options{
    margin-top: 5vh;
}

@font-face {
    font-family: "MK";
    src: url("/fonts/Mortal-Kombat-MK11.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}

.menu-options p a{
    text-decoration: none;
    font-family: "MK", serif;
    font-size: 48px;
    color: white;
}

.game-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vw;
}

.game-input p{
    text-decoration: none;
    font-family: "MK", serif;
    font-size: 60px;
    color: white;
}

#game-input-text{
    width: 350px;
    height: 100px;
    font-size: 80px;
    font-family: "MK", serif;
}

::-webkit-input-placeholder {
    font-size: 40px;
    padding: 15px;
}

#game-input-submit{
    margin-top: 50px;
    width: 100px;
    height: 50px;
    font-size: 40px;
    font-family: "MK", serif;
}

.div-video{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.back a{
    text-decoration: none;
    font-family: "MK", serif;
    font-size: 30px;
    color: white;
    font-weight: 550;
    margin-top: 40px;
    margin-left: 40px;
}

.credits{
    text-decoration: none;
    font-family: "MK", serif;
    font-size: 2em;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 8%;
}

.combos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.combos p{
    text-decoration: none;
    font-family: "MK", serif;
    color: white;
    font-size: 2vw;
    margin: 10px;
}

.combos img{
    height: 70vh;
}